.header{
    width:100%;
    background-color: black;
    height:9.5vh;
    color:white;
    font-size:36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.svg{
    fill:white
}