body, #root{
  margin:0;
  display: flex;
  flex-wrap: wrap; 
  width: 100%;
  min-height: 100vh;
}

#root{
  flex:1;
}

.leftSide{
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  /* background-color: aqua; */
  gap:2rem;
  min-width: 600px;
  padding:2rem;
  align-content: center;
}

.rightSide{
  display: flex;
  flex-direction: column;
  flex:1 1 0%;
  background-color: #ECECEC;
  align-items: center;
  justify-content: center;
  /* padding:2em 0 0 0; */
  max-height: 100vh;
  position: sticky;
  top: 0;
}

.divisionLine{
  width:3px;
  background-color: black;

}

.sheet{
  width:420px;
  height:580px;
  background-color: white;
  display: flex;
}